*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
  background-color: #142b4b;

  color: aliceblue;
}

img {
  display: block;
  max-width: 100%;
}

li::marker {
  color: aliceblue;
  font-size: 2rem;
}

a {
  text-decoration: none;
}
a:link,
a:active,
a:visited {
  color: currentColor;
}

/*main*/
.main {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 3em;
}

/*instructions section*/
.instructions {
  width: 90%;
  margin: 0 auto;
}

.img-container {
  width: 35%;
  margin-left: auto;
  padding-top: 2em;
}

.heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1em;
}

.description {
  margin-bottom: 0.5em;
}

.limitations-list {
  margin: 0 0 2em 1em;
}

.input-container {
  text-align: end;
}

.input {
  width: 6em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2rem;

  font-size: inherit;
  font-weight: inherit;
}

.input:focus,
.btn:focus {
  outline-color: #c14a09;
}

.btn {
  display: block;
  margin: 1.25em 0 1.25em auto;

  border: 0.3rem solid aliceblue;
  border-radius: 3rem;
  padding: 0.7rem 2rem;

  font-weight: 600;
  font-size: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  color: aliceblue;
  background-color: transparent;

  cursor: pointer;

  transition: all 0.2s;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #142b4b;
  background-color: aliceblue;
}

/*results section*/
.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.25em;

  width: 90%;
  margin: 0 auto;
}
.squad-card {
  padding: 0.5em;
  color: #142b4b;

  border-radius: 15px;
  background-color: aliceblue;
}

.position {
  font-weight: 700;
  color: #c14a09;
}

.players {
  margin-bottom: 0.5em;

  font-size: 1.8rem;
}

.squad-info {
  display: flex;
  gap: 0.5em;

  padding-top: 1em;
  font-size: 1.8rem;
  font-weight: 500;
}

.budget {
  margin-right: 0.75em;
}

.games {
  margin-right: 0.75em;
}

/* Media queries */
@media screen and (min-width: 43.75em) {
  body {
    font-size: 1.8rem;
  }
  .heading {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 56.25em) {
  .img-container {
    width: 25%;
  }
}

@media screen and (min-width: 81.25em) {
  body {
    font-size: 2rem;
  }
  .heading {
    font-size: 6rem;
  }

  .img-container {
    width: 20%;
  }
}
